html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { 
  height: 100%; 
}

#title { font-size: 30px; 
  color: #333; 
  background-color: #fff; 
  z-index: 999; 
  position: fixed; 
  top: 20px; 
  margin-left: 0px; 
  height: 30px; 
  font-family: Helvetica; 
  padding: 10px; 
  width: 300px;
  -moz-box-shadow:    0px 2px 2px 3px #666;
  -webkit-box-shadow: 0px 2px 2px 3px #666;
  box-shadow:         0px 2px 2px 3px #666;
}
#title-container { 
  background-color: #333; 
  width: 100%; 
  position: fixed; 
  top: 0px; 
  height:30px; 
  margin-left: 0px; 
  margin-right: 0px; 
}
.container { 
  width:100%; 
  margin-left: auto; 
  margin-right: auto; 
}
#stream { 
  z-index: 999; 
  background-color: #fff; 
  position: fixed; 
  bottom: 20px; 
  padding: 10px; 
  font-size: small; 
  display: none; 
}
#stream li { list-style-type: none }